*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  position: fixed;
  width: 100%;
  top: 0
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.brand {
  float: left;
}

.containter {
  margin: 80px 40px
}

.person{
  display: inline-block;
  width: 31%;
  padding: 50px;
  border: 3px solid rgba(250, 125, 125, 0.5);
  height: 500px;
  top: 0;
}

.photo-card{
  width: 100%;
  height: 300px;
}

.person h2 , .person p {
  text-align: center;
  text-transform: capitalize;
}

 .person p {
   display: none;
 }

.person:hover {
  top : 0;
  margin: 0;
}

.person:hover p{
  display: block;
}

.fixed-background {
  background: url(../images/intelligent.jpg) fixed;
  padding: 50px
}

.fixed-background .paragraph {
  margin: 100px;
  padding: 30px;
  background: rgb(125,125,125);
  text-transform: uppercase;
}

.texts {
  margin: 100px;
  padding: 50px;
  background: url(../images/kira_and_l.png) fixed;
}

.texts .ar {
  direction: rtl;
  background: rgba(255, 0, 0, 0.5);
  margin: 5px;
  padding: 20px
}

.texts .en {
  direction: ltr;
  background: rgba(0, 0, 255, 0.5);
  margin: 5px;
  padding: 20px
}
