*{
  font-family: "comic sans ms";
  transition: .9s ease-in-out all;
}

body{
  margin: 0;
  padding: 21px 0 0 0;
  background: #000;
  /* cursor: pointer; */
}

div{
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 35px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  /* .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  } */
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#mySidenav {
  top: 100px
}

#mySidenav a {
  position: fixed;
  left: -50px;
  transition: 0.3s;
  padding: 15px;
  width: 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 80px;
  background-color: rgb(76 91 175);
}

#blog {
  top: 140px;
  background-color: #2196F3;
}

#projects {
  top: 200px;
  background-color: rgb(173 166 164);
}

#contact {
  top: 260px;
  background-color: #555
}

.sticky{
  margin: 90px 60px
}

.fixed-background {
  /* background: url(../images/intelligent.jpg) fixed; */
  padding: 50px;
  margin: 50px 0 0 0;
  text-align: center;
}

.fixed-background p {
  margin: 100px;
  padding: 30px;
  background: rgb(125,125,125);
  max-height: 4px;
  overflow: hidden;
  line-height: 1.9;
  cursor: pointer;
  text-align: center;
}

.fixed-background p:hover{
  max-height: 100px;
}

.relations{
  background: no-repeat center/100% 100% fixed url(../images/bg.jpg);
  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  margin: 30px 0;
}

.overley{
  padding: 100px;
  background: rgba(10 , 10 , 10, 0.5);
  text-align: center;
}

audio{
  width: 20px;
  text-align: center;
}

audio:hover{
  width: 100% ;
}

video{
  width: 100% ;
  margin-top: 30px;
}

.parent div {
  padding: 20px;
  background: rgba(0, 0, 255, 0.5);
}

.parent > div {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(255, 0, 0, 0.5);
}

.parent div~p {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(0 , 255 , 0, 0.5);
}

.parent > div > p:hover~p {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(0 , 125 , 125, 0.5);
}

.Pseudo {
  background: no-repeat center/100% 100% fixed url(../images/liberty.jpg);
  /* padding: 50px; */
  margin: 50px 0;
}

.Pseudo h3 {
  background: rgba(225 , 225 , 225, 0.5);
  padding: 20px;
  border-radius: 36px;
  text-align: center;
}

.Pseudo label {
  text-align: center;
  color: #fff;
  display: block;
  padding:5px
}

.Pseudo input {
  padding: 10px;
  text-transform: capitalize;
  background: rgba(187, 172, 172, 0.5);
  line-height: 2;
  width: 90%;
  display: block;
  border-radius: 20px;
}

.Pseudo button{
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}

.Pseudo form button:nth-child(9){
  background: rgb(255 , 125 , 125);
}

.Pseudo form button:hover:nth-child(9){
  background: rgb(255 , 10 , 125);
}

.Pseudo form button:nth-child(10){
  background: rgb(155 , 255 , 125);
}

.Pseudo form button:hover:nth-child(10){
  background: rgb(10 , 255 , 125);
}

/* body > section:nth-child(5){
  background-image: url(../images/n.jpg);
} */

.cont {
  background: rgba(0 , 125 , 125, 0.5);
  padding: 30px
}

input{
  cursor: pointer;
}

footer{
  color: #fff;
}

.radius{
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  color: #ccc;
  background:  linear-gradient(to right ,rgb(146, 10, 10), rgb(6, 6, 153)) ;
  padding: 10px;
  outline: none;
}

.f-read{
  padding: 20px;
  background: rgba(200, 200, 200, 0.5) ;
  box-shadow: 5px 5px 20px 5px rgba(255, 0, 0, 0.5) ,
              -5px -5px 30px 5px rgba(0, 0, 255, 0.5);
  text-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5) ,
              -5px -5px 10px rgba(0, 0, 255, 0.5);       
  resize: horizontal;
  width: 400px;
  /* height: 119px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;   
}

.Pseudo .overley{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.card{
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
}

.Pseudo img {
  width: 100%;
  height: 100%;
}

.fan {
  text-align: center;
  padding: 50px;
  margin: 50px auto;
  /* transition: 2.5s ease-in-out; */
  content: url(../images/fanc.png);

}
/* 
.fan img {
  width: 100px;
  transition: 2.5s ease-in-out;
} */

/* 
.fan img:hover {
  animation: fan .2s infinite;
} */

.fan:hover {
  animation: fan .2s infinite;
  animation-fill-mode: forwards;
}


@keyframes fan {

  0%{
    transform: rotate(0deg);
    content: url(../images/fanc2.png);
  }
  
  10%{
    transform: rotate(36deg);
    content: url(../images/fanc2.png);
  }

  20%{
    transform: rotate(72deg);
    content: url(../images/fanc.png);
  }

  30%{
    transform: rotate(108deg);
    content: url(../images/fanc.png);
  }

  40%{
    transform: rotate(144deg);
    content: url(../images/fanc3.png);
  }

  50%{
    transform: rotate(180deg);
    content: url(../images/fanc3.png);
  }

  60%{
    transform: rotate(216deg);
    content: url(../images/fanc4.png);
  }

  70%{
    transform: rotate(252deg);
    content: url(../images/fanc4.png);
  }
  
  80%{
    transform: rotate(288deg);
    content: url(../images/fanc5.png);
  }

  90%{
    transform: rotate(324deg);
    content: url(../images/fanc5.png);
  }

  100%{
    transform: rotate(360deg);
    content: url(../images/fanc2.png);
  }
}

 img:nth-child(4):hover {
  background: rgb(146, 10, 10) !important;
}

.Pseudo .cont {
  overflow: hidden;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.query {
  /* content: url(../images/naruto_2.png); */
  /* padding: 0 202px; */
  width: 100%;
  box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .query {
    content: url(../images/itachi.png);
    /* padding: 0 202px;  */
    width: 100%;
    box-sizing: border-box;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .query {
    content: url(../images/sassuke.png);
    /* padding: 0 202px;  */
    width: 100%;
    box-sizing: border-box;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .query {
    content: url(../images/obito.png);
    padding: 0 202px; 
    width: 100%;
    box-sizing: border-box;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .query {
    content: url(../images/hakage.png);
    padding: 0 202px; 
    width: 100%;
    box-sizing: border-box;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .query {
    content: url(../images/naruto_2.png);
    padding: 0 202px; 
    width: 100%;
    box-sizing: border-box;
  }
}

@font-face  {
  font-family: 'death';
  src: url(../font/Death_Note_Font_by_Karlibell22.ttf);
}

.death {
  font-size: 64px;
  /* background-color: #000000;
  background-image: url(../images/black-felt.png); */
  background: url(../images/deathnote_rules.png) center center/100% 100% no-repeat #000;
  color: #fff;
  padding-top: 172px;
  padding-bottom: 700px;
  font-family: 'death';
}

.hid-men{
  display: none 
}

/* ********************************* switch ********************************* */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:checked ~ .hid-men {
  display: block !important;
  position: fixed;
  right: 0;
  background-color: cyan;
  top: 77px;
}

input:checked ~ .hid-men > a {
  display: block !important;
  width: 100%;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ********************************* switch ********************************* */


/* ********************************* top nav ********************************* */

.small {
  display: none;
}

.larg{
  float: right;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .small {
    display: block !important;
    float: right;
    padding: 26px;
  }

  .larg{
    display: none !important;
  }
}
/* ********************************* top nav ********************************* */