*{
  font-family: "comic sans ms";
  transition: .9s ease-in-out all;
}

body{
  margin: 0;
  padding: 21px 0 0 0;
  background: #000;
  /* cursor: pointer; */
}

div{
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#mySidenav {
  top: 100px
}

#mySidenav a {
  position: fixed;
  left: -50px;
  transition: 0.3s;
  padding: 15px;
  width: 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 80px;
  background-color: rgb(76 91 175);
}

#blog {
  top: 140px;
  background-color: #2196F3;
}

#projects {
  top: 200px;
  background-color: rgb(173 166 164);
}

#contact {
  top: 260px;
  background-color: #555
}

.sticky{
  margin: 90px 60px
}

.fixed-background {
  /* background: url(../images/intelligent.jpg) fixed; */
  padding: 50px;
  margin: 50px 0 0 0;
  text-align: center;
}

.fixed-background p {
  margin: 100px;
  padding: 30px;
  background: rgb(125,125,125);
  max-height: 4px;
  overflow: hidden;
  line-height: 1.9;
  cursor: pointer;
  text-align: center;
}

.fixed-background p:hover{
  max-height: 100px;
}

.relations{
  background: no-repeat center/100% 100% fixed url(../images/1828458.jpg);
  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  margin: 30px 0;
}

.overley{
  padding: 100px;
  background: rgba(10 , 10 , 10, 0.5);
  text-align: center;
}

audio{
  width: 20px;
  text-align: center;
}

audio:hover{
  width: 100% ;
}

video{
  width: 100% ;
  margin-top: 30px;
}

.parent div {
  padding: 20px;
  background: rgba(0, 0, 255, 0.5);
}

.parent > div {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(255, 0, 0, 0.5);
}

.parent div~p {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(0 , 255 , 0, 0.5);
}

.parent > div > p:hover~p {
  padding: 20px;
  text-transform: capitalize;
  background: rgba(0 , 125 , 125, 0.5);
}

.Pseudo {
  background: no-repeat center/100% 100% fixed url(../images/pop-bg.jpg);
  /* padding: 50px; */
  margin: 50px 0;
}

.Pseudo h3 {
  background: rgba(225 , 225 , 225, 0.5);
  padding: 20px;
  border-radius: 36px;
  text-align: center;
}

.Pseudo label {
  text-align: center;
  color: #fff;
  display: block;
  padding:5px
}

.Pseudo input {
  padding: 10px;
  text-transform: capitalize;
  background: rgba(187, 172, 172, 0.5);
  line-height: 2;
  width: 90%;
  display: block;
  border-radius: 20px;
}

.Pseudo button{
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}

.Pseudo form button:nth-child(9){
  background: rgb(255 , 125 , 125);
}

.Pseudo form button:hover:nth-child(9){
  background: rgb(255 , 10 , 125);
}

.Pseudo form button:nth-child(10){
  background: rgb(155 , 255 , 125);
}

.Pseudo form button:hover:nth-child(10){
  background: rgb(10 , 255 , 125);
}

body > section:nth-child(5){
  /* background-image: url(../images/n.jpg); */
}

.cont {
  background: rgba(0 , 125 , 125, 0.5);
  padding: 30px
}

input{
  cursor: pointer;
}

footer{
  color: #fff;
}

.radius{
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  color: #ccc;
  background:  linear-gradient(to right ,rgb(146, 10, 10), rgb(6, 6, 153)) ;
  padding: 10px;
  outline: none;
}

.f-read{
  padding: 20px;
  background: rgba(200, 200, 200, 0.5) ;
  box-shadow: 5px 5px 20px 5px rgba(255, 0, 0, 0.5) ,
              -5px -5px 30px 5px rgba(0, 0, 255, 0.5);
  text-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5) ,
              -5px -5px 10px rgba(0, 0, 255, 0.5);       
  resize: horizontal;
  width: 400px;
  /* height: 119px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;   
}

.Pseudo .overley{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.card{
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
}

.Pseudo img {
  width: 100%;
  height: 100%;
}

.fan {
  text-align: center;
  padding: 50px;
  margin: 50px;
  /* transition: 2.5s ease-in-out; */
}

.fan img {
  width: 100px;
  transition: 2.5s ease-in-out;

}

.fan img:hover {
  transform: scale(1.5) rotate(360deg);
}

 img:nth-child(4):hover {
  background: rgb(146, 10, 10) !important;
}

.Pseudo .cont {
  overflow: hidden;
  box-sizing: border-box;
}

.itachi {
  overflow: hidden;
}

.itachi img {
  width: 20%;
}

.itachi:hover img{
  transform: translatex(300px) scale3d(1.5,1.5,1.5);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 30%;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
  font-size: 13px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.f{
  background-color: rgba(255, 12, 22);
}

.s{
  background-color: rgb(6, 6, 153);
}

.th{
  background-color: rgba(10 , 10 , 10);
  color: #ccc;
}

.char {
  width: 25%;
  display: inline-block;
}

.wep {
  width: 25%;
  display: inline-block;
}

.ras{
  width:20%;
  display: inline-block;
}

.kun{
  width: 20%;
  display: inline-block;
}

.ras > img {
  width: 50px;
  padding: 28px;
  opacity: 0;
}

.kun > img {
  width: 74px;
  padding-bottom: 70%;
  padding-left: 170px;
}

.Pseudo:hover  .ras > img{
  opacity: 1;
  transition: all 2s ease-in-out;
  transform: scale(2.5) translate(180px);
}

.Pseudo:hover  .kun > img{
  transition: all 2s ease-in-out;
  transform: translate(-400px);
}

